
##
# Base Settings
##

build --watchfs

build --spawn_strategy=local
build --strategy=J2cl=worker
build --strategy=Closure=worker
build --strategy=TypeScriptCompile=worker
build --experimental_persistent_javac

build --symlink_prefix=dist/
build --spawn_strategy=local
build --workspace_status_command=./tools/bazel_stamp_vars.sh

build --define=ZULUBASE=/Library/Java/JavaVirtualMachines/zulu-12.jdk/Contents/Home

query --output=label_kind

