<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="gust.backend.driver.firestore.FirestoreManager" level="TRACE" />
    <logger name="gust.backend.driver.firestore.FirestoreDriver" level="TRACE" />
    <logger name="gust.backend.driver.firestore.FirestoreAdapter" level="TRACE" />
    <logger name="gust.backend.driver.spanner.SpannerManager" level="TRACE" />
    <logger name="gust.backend.driver.spanner.SpannerDriver" level="TRACE" />
    <logger name="gust.backend.driver.spanner.SpannerAdapter" level="TRACE" />
    <logger name="gust.backend.driver.spanner.SpannerAdapterTest" level="TRACE" />
    <logger name="gust.backend.driver.spanner.SpannerUtil" level="TRACE" />
    <logger name="gust.backend.driver.spanner.SpannerMutationSerializer" level="TRACE" />
    <logger name="gust.backend.driver.spanner.SpannerStructDeserializer" level="TRACE" />
    <logger name="gust.backend.driver.spanner.SpannerCodec" level="TRACE" />
    <logger name="gust.backend.model.ModelAdapter" level="TRACE" />
    <logger name="gust.backend.model.ModelMetadata" level="TRACE" />
    <logger name="gust.backend.model.ProtoModelCodec" level="TRACE" />
    <logger name="gust.backend.model.ObjectModelCodec" level="TRACE" />
    <logger name="gust.backend.model.ObjectModelDeserializer" level="TRACE" />
    <logger name="gust.backend.model.ObjectModelSerializer" level="TRACE" />
    <logger name="gust.backend.model.PersistenceDriver" level="TRACE" />
    <logger name="gust.backend.model.GenericPersistenceDriverTest" level="TRACE" />
</configuration>
