
{namespace samples.soy_ssr.pages}


{template .salutation}
  {@param name: string}

  <b>Hello {$name}!</b>
{/template}


{template .basic}
  <b>Hello from static Soy!</b>
{/template}


{template .complex}
  {@param context: samples.soy_ssr.src.Context}

  {call .salutation}
    {param name: $context.salutation.name /}
  {/call}
  {call .salutation}
    {param name: $context.salutation.name /}
  {/call}
{/template}
