##
# Copyright © 2020, The Gust Framework Authors. All rights reserved.
#
# The Gust/Elide framework and tools, and all associated source or object computer code, except where otherwise noted,
# are licensed under the Zero Prosperity license, which is enclosed in this repository, in the file LICENSE.txt. Use of
# this code in object or source form requires and implies consent and agreement to that license in principle and
# practice. Source or object code not listing this header, or unless specified otherwise, remain the property of
# Elide LLC and its suppliers, if any. The intellectual and technical concepts contained herein are proprietary to
# Elide LLC and its suppliers and may be covered by U.S. and Foreign Patents, or patents in process, and are protected
# by trade secret and copyright law. Dissemination of this information, or reproduction of this material, in any form,
# is strictly forbidden except in adherence with assigned license requirements.
##

# bazelrc file
# bazel >= 0.18 looks for %workspace%/.bazelrc (which redirects here)
# Older bazel versions look for %workspace%/tools/bazel.rc (this file)
# See https://github.com/bazelbuild/bazel/issues/6319


##
# Base Settings
##

build --show_timestamps
build --embed_label=alpha
build --define project=elide-ai
build --define cluster=_cluster_
build --nojava_header_compilation
build --noexperimental_worker_multiplex
build --output_filter='^//(gust|defs|java|js|tools|config|images|javatests|tests|jstests):'
build --watchfs
build --symlink_prefix=dist/
build --nolegacy_external_runfiles
build --incompatible_strict_action_env
build --javacopt="-encoding UTF-8"
build --strict_java_deps=strict
build --use_ijars
build --interface_shared_objects
build --java_toolchain=@bazel_tools//tools/jdk:toolchain_java11
build --host_java_toolchain=@bazel_tools//tools/jdk:toolchain_java11
build --workspace_status_command=./tools/bazel_stamp_vars.sh
build --worker_sandboxing
build --spawn_strategy=sandboxed,worker
build --strategy=Javac=sandboxed
build --strategy=J2cl=sandboxed
build --strategy=Closure=sandboxed
build --strategy=KotlinCompile=sandboxed
build --strategy=TypeScriptCompile=sandboxed
build --strategy=JdepsMerger=sandboxed
build --compilation_mode=fastbuild
build --experimental_ui_mode=mnemonic_histogram

build --build_metadata=TEST_GROUPS=//javatests,//jstests,//tests
build --build_metadata=REPO_URL=https://github.com/CookiesCo/elide.git
build --build_metadata=VISIBILITY=PUBLIC
build --bes_results_url=https://app.buildbuddy.io/invocation/
build --bes_backend=grpcs://cloud.buildbuddy.io
build --remote_cache=grpcs://cloud.buildbuddy.io
build --remote_timeout=3600
build --remote_header=x-buildbuddy-api-key=6R3w0oRMdKhN3cobqlIl
build --experimental_persistent_javac
build --strict_proto_deps=strict
build --strict_system_includes

build:dev --define=project=elide-ai
build:dev --define=todolist_release_tag=latest
build:dev --strategy=Javac=worker
build:dev --strategy=J2cl=worker
build:dev --strategy=Closure=worker
build:dev --strategy=KotlinCompile=worker
build:dev --strategy=TypeScriptCompile=worker
build:dev --strategy=JdepsMerger=worker

fetch:dev --repository_cache=~/.cache/bazel/repo
query:dev --repository_cache=~/.cache/bazel/repo
build:dev --disk_cache=~/.cache/bazel-disk-cache
build:dev --repository_cache=~/.cache/bazel/repo

#test:dev --test_strategy=standalone
#test:dev --strategy=TestRunner=worker
#test:dev --experimental_persistent_test_runner

build:adc --google_default_credentials=true

build:android --java_toolchain=@bazel_tools//tools/jdk:toolchain_java8
build:android --host_java_toolchain=@bazel_tools//tools/jdk:toolchain_java8
build:android --workspace_status_command=./tools/bazel_stamp_vars.sh

build:ci --jobs=32
build:ci --build_metadata=ROLE=CI

build:ci --worker_max_instances=4
build:ci --local_ram_resources="HOST_RAM*.9"
build:ci --strategy=JdepsMerger=worker
run:ci --worker_max_instances=4
run:ci --local_ram_resources="HOST_RAM*.9"
common:ci --curses=no
build:ci --verbose_failures
build:ci --worker_verbose
run:ci --verbose_failures
run:ci --worker_verbose
test:ci --test_output=errors
test:ci --nocache_test_results
test:ci --test_verbose_timeout_warnings
build:ci --repository_cache=~/.cache/bazel/repo
run:ci --repository_cache=~/.cache/bazel/repo
run:ci --test_env=DISPLAY
fetch:ci --repository_cache=~/.cache/bazel/repo
query:ci --repository_cache=~/.cache/bazel/repo
build:ci --disk_cache=~/.cache/bazel/repo
run:ci --disk_cache=~/.cache/bazel/repo
build:ci --remote_upload_local_results=true
run:ci --remote_upload_local_results=true

build:release --compilation_mode=opt
build:release --copt=-Wframe-larger-than=16384

build:debug --compilation_mode=dbg
build:debug --sandbox_debug

build:android --define=ABSOLUTE_JAVABASE=/Library/Java/JavaVirtualMachines/zulu-8.jdk/Contents/Home
build:android --host_javabase=@bazel_tools//tools/jdk:absolute_javabase
build:android --host_java_toolchain=@bazel_tools//tools/jdk:toolchain_vanilla
build:android --java_toolchain=@bazel_tools//tools/jdk:toolchain_vanilla

query --output=label_kind

test --instrumentation_filter="-/javatests[/:],-/test/java[/:],-/tests[/:],-/jstests[/:],-/protobuf,-protobuf,-/types,-types,-/java/org[/:],-js,-/js"

coverage --collect_code_coverage
coverage --combined_report=lcov
coverage --test_env=DISPLAY
coverage --noinstrument_test_targets
coverage --ui_event_filters=-DEBUG
coverage --nocache_test_results
coverage --experimental_fetch_all_coverage_outputs
#coverage --experimental_split_coverage_postprocessing

build:labs --features=thin_lto
build:labs --experimental_inmemory_dotd_files
build:labs --experimental_inmemory_jdeps_files
build:labs --experimental_delay_virtual_input_materialization
build:labs --experimental_enable_docker_sandbox
build:labs --experimental_sandbox_async_tree_delete_idle_threads=0
build:labs --experimental_stream_log_file_uploads

#build:labs --experimental_use_validation_aspect
#build:labs --experimental_use_sandboxfs=auto
#build:labs --experimental_java_classpath=bazel

try-import %workspace%/.bazelrc.user
